In [1]:
# Making a basic Bokeh graph
# Importing Bokeh
# pip install bokeh

from bokeh.plotting import figure
from bokeh.io import output_file, show

In [2]:
# prepare some data
x=[1,2,3,4,5]
y=[6,7,8,9,10]    
print(x)
print(y)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [3]:
# prepare the output file
output_file("line.html")

# create a figure object
f=figure()

# create a line plot
f.line(x,y)

GlyphRenderer(id='1035', ...)

In [4]:
# write the graph in the figure object
# show(f)
#dir(f)
# help(f.image)

In [5]:
# Making a basic Bokeh graph
# Importing Bokeh and pandas

from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas as pd

# prepare some data

df=pd.read_csv("data.csv")
x=df["x"]
y=df["y"]  

# prepare the output file
output_file("line_from_csv.html")

# create a figure object
f=figure()

# create a line plot
f.line(x,y)

# write the graph in the figure object
show(f)

In [6]:
df=pd.read_csv("http://pythonhow.com/data/bachelors.csv")

In [7]:
df.head()

,Year,Agriculture,Architecture,Art and Performance,Biology,Business,Communications and Journalism,Computer Science,Education,Engineering,English,Foreign Languages,Health Professions,Math and Statistics,Physical Sciences,Psychology,Public Administration,Social Sciences and History
0,1970,4.229798,11.921005,59.7,29.088363,9.064439,35.3,13.6,74.535328,0.8,65.570923,73.8,77.1,38.0,13.8,44.4,68.4,36.8
1,1971,5.452797,12.003106,59.9,29.394403,9.503187,35.5,13.6,74.149204,1.0,64.556485,73.9,75.5,39.0,14.9,46.2,65.5,36.2
2,1972,7.420710,13.214594,60.4,29.810221,10.558962,36.6,14.9,73.554520,1.2,63.664263,74.6,76.9,40.2,14.8,47.6,62.6,36.1
3,1973,9.653602,14.791613,60.2,31.147915,12.804602,38.4,16.4,73.501814,1.6,62.941502,74.9,77.4,40.9,16.5,50.4,64.3,36.4
4,1974,14.074623,17.444688,61.9,32.996183,16.204850,40.5,18.9,73.336811,2.2,62.413412,75.3,77.9,41.8,18.2,52.6,66.1,37.3

In [8]:
x = df["Year"]
y = df["Engineering"]

In [9]:
# prepare the output file
output_file("line_from_pythonhow.html")

# create a figure object
f=figure()

# create a line plot
f.line(x,y)

# write the graph in the figure object
show(f)

In [10]:
# import pandas
from bokeh.plotting import figure, output_file, show
 
p=figure(plot_width=500,plot_height=400)
 
p.title.text="Cool Data"
p.title.text_color="Gray"
p.title.text_font="times"
p.title.text_font_style="bold"
p.xaxis.minor_tick_line_color=None
p.yaxis.minor_tick_line_color=None
p.xaxis.axis_label="Date"
p.yaxis.axis_label="Intensity"    
 
p.line([1,2,3],[4,5,6])
output_file("graph.html")
show(p)

In [11]:
df=pd.read_excel("http://pythonhow.com/data/verlegenhuken.xlsx",0)

In [12]:
df.head()

   Year  Month  Day  Hour  Temperature  Pressure
0  2010     10    6     3          -30      9984
1  2010     10    6     9          -28      9992
2  2010     10    6    10          -24      9987
3  2010     10    6    11          -19      9987
4  2010     10    6    12          -19      9985

In [13]:
df.shape

(33102, 6)

In [14]:
x = df["Temperature"].apply(lambda x: x/10)
y = df["Pressure"].apply(lambda x: x/10)

In [15]:
# prepare the output file
output_file("weather.html")

# create a figure object
p=figure(plot_width=500,plot_height=400)

p.title.text="Temperature and Air Pressure"
p.title.text_color="Gray"
p.title.text_font="arial"
p.title.text_font_style="bold"
p.xaxis.minor_tick_line_color=None
p.yaxis.minor_tick_line_color=None
p.xaxis.axis_label="Temperature (Â°C)"
p.yaxis.axis_label="Pressure (hPa)"  
# create a line plot
p.circle(x,y, size=0.5, color='green',alpha=0.2)

# write the graph in the figure object
show(p)

In [ ]:
%%! pip install bs4